*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
citizens-report-sn-85470-firebase-adminsdk-fbsvc-0f3e48d8ec.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/database/*.sqlite
/database/*.sqlite-journal
.DS_Store
